config SND_JZ47XX_SOC
	tristate "SoC Audio for Ingenic jz47XX chip"
	depends on JZSOC && SND_SOC
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Jz47XX AC97, I2S controller. 

config SND_JZ47XX_SOC_I2S
        tristate

config SND_JZ4760_SOC_LEPUS_ICDC
	tristate "SoC I2S Audio support for JZ4760 Lepus reference board with internal codec"
	depends on SND_JZ47XX_SOC
	depends on (SOC_JZ4760 || SOC_JZ4760B)
	select SND_JZ47XX_SOC_I2S
	select SND_SOC_JZ4760_ICDC
	help
	  Say Y if you want to add audio support for JZ4760 Lepus reference board with internal codec.
	  
config SND_SOC_HIFI_ECDC
	tristate "SoC I2S Audio support for HIFI with external codec"
	depends on SND_JZ47XX_SOC
	depends on (SOC_JZ4760 || SOC_JZ4760B)
	select SND_JZ47XX_SOC_I2S
	select SND_SOC_MY_ECDC
	help
	  Say Y if you want to add audio support for JZ4760 Lepus reference board with internal codec.

config SND_JZ4770_SOC_PISCES_ICDC
	tristate "SoC I2S Audio support for JZ4770 Pisces reference board with internal codec"
	depends on SND_JZ47XX_SOC
	depends on SOC_JZ4770
	select SND_JZ47XX_SOC_I2S
	select SND_SOC_JZ4770_ICDC
	help
	  Say Y if you want to add audio support for JZ4770 Pisces reference board with internal codec.

