#
# LCD panels configuration
#
choice
	depends on FB_JZ4760_LCD
	prompt "LCD Panel"
	default JZ4760_LCD_TM370_LN430_9
	---help---
	   Please select the lcd panel in you board

config JZ4760_LCD_TM370_LN430_9
	bool "RetroArcade TM370_LN430_9 TFT 480x272 18bit"

config JZ4760_LCD_RG_V10
	bool "RetroGame V1.0 AUO A030JTN01 320x480"

config JZ4760_LCD_RG_V21
	bool "RetroGame V2.1 INNOLUX EJ030NA-01B 320x480"

config JZ4760_LCD_RG_V30
	bool "RetroGame V3.0 LianKeWeiYe LKWY030A01 320x480"

config JZ4760_LCD_RG_IPS
	bool "RetroGame Sharp IPS"

config JZ4760_SLCD_SNK
	bool "RetroGame Plus SNK SLCD 320x240 16bit"
	select FB_JZ4760_SLCD

config LCD_NT39016
	bool "RetroGame 350 Novatek NT39016 320x240 24bit"

config JZ4760_LCD_SAMSUNG_LTP400WQF01
	bool "SAMSUNG LTP400WQF01 TFT 480x272 16bit"

config JZ4760_LCD_SAMSUNG_LTP400WQF02
	bool "SAMSUNG LTP400WQF02 TFT 480x272 18bit"

config JZ4760_LCD_AUO_A043FL01V2
	bool "AUO A043FL01V2 TFT 480x272 24bit"

config JZ4760_LCD_FOXCONN_PT035TN01
 	bool "FOXCONN PT035TN01 TFT 320x240 18bit-parallel"

config JZ4760_LCD_INNOLUX_PT035TN01_SERIAL
 	bool "INNOLUX PT035TN01 TFT 320x240 8bit-serial"

config JZ4760_LCD_TOPPOLY_TD025THEA7_RGB_DELTA
	bool "TOPPOLY_TD025THEA7 TFT 320x240 serial RGB delta mode"

config JZ4760_LCD_TOPPOLY_TD043MGEB1
	bool "TOPPOLY_TD043MGEB1 TFT 800x480 24bit"

config UMIDO_LCD_4_3
	bool "Umidotech TFT LCD 4.3 480x272 24bit"

config JZ4760_LCD_TRULY_TFTG320240DTSW_18BIT
	bool "TRULY_TFTG320240DTSW TFT 320x240 18bit-parallel"

config JZ4760_LCD_TRULY_TFT_GG1P0319LTSW_W
	bool "TRULY_TFT_GG1P0319LTSW_W 240x320 Smart LCD 16bit"

config JZ4760_SLCD_KGM701A3_TFT_SPFD5420A
	bool "KGM701A3_TFT_SPFD5420A 400x240 Smart LCD 18bit"
	select FB_JZ4750_SLCD

config JZ4760_LCD_HYNIX_HT12X14
	bool "HYNIX_HT12X14 (1024x768) (LVDS)"

config JZ4760_LCD_KD101N2
	bool "GUO XIAN KD101N2 (1024x600) (LVDS)"

config JZ4760_LCD_KD101N4
	bool "GUO XIAN KD101N4 (1280x800) (LVDS)"

config JZ4760_VGA_DISPLAY
	depends on (SOC_JZ4760 || SOC_JZ4760B || SOC_JZ4770)
	bool "Jz4760 VGA Display"

endchoice
